<br><br>
<h1>Update your Profile</h1>
<%= form_for @profile do |f| %>
<%= f.label :name_or_designation %>
<%= f.text_field :name %>
<%= f.label :ship %>
<%= f.text_field :ship %>
<%= f.label :home_planet %>
<%= f.text_field :planet %>
<%= f.label :weapon_of_choice %>
<%= f.text_field :weapon %>
<%= f.label :state_a_side %>
<%= f.text_field :side %>
<%= f.submit :update %>
<% end %>