<div class="window">
	<div class="userdisplaycontainer">
		<div id="userdisplayin">
			<%= content_tag :h1, "Welcome to your page hunter." %>
			<%= content_tag :h3, "Username:" %><%= @user.username %>
			<%= content_tag :h3, "Avatar:" %>
			<%= image_tag @user.profile.avatar_url(:thumb).to_s %>
			<%= content_tag :h3, "email:" %><%= @user.email %>

			<%= content_tag :h1, "Welcome to your profile hunter." %>
			<%= content_tag :h1, "Welcome to your profile hunter." %>
			<% if @user.profile != nil %>
			<%= content_tag :h3, "Name or Designation:" %><%= @user.profile.name %>
			<%= content_tag :h3, "Ship:" %><%= @user.profile.ship %>
			<%= content_tag :h3, "Home Planet:" %><%= @user.profile.planet %>
			<%= content_tag :h3, "Weapon of Choice:" %><%= @user.profile.weapon %>
			<%= content_tag :h3, "Side:" %><%= @user.profile.side %>
			<% end %>
			<%= link_to("Log Out", '/logout') %>
			<% if @user.id == @current_user_id %>
				<% if @user.profile != nil %>
				<%= link_to("Edit Profile", edit_profile_path(@user.profile.id), method: :get) %>
				<% else %>
				<%= link_to("Create Profile", new_profile_path, method: :get) %>
				<% end %>
			<% end %>	
			<%= link_to("Delete User", user_path(@user.id), method: :delete) %>
		</div>
	</div>
	<div class="planet"></div>
	<div class="locate">
		<div class="lm1 locateturn" id="lt1"></div>
	</div>
	<div class="optics">
		<div class="cm1 opticturn" id="ot1"></div>
		<div class="cm2 opticturn" id="ot2"></div>
		<div class="cm3 opticturn" id="ot3"></div>
		<div class="cm4 opticturn" id="ot4"></div>
	</div>
</div>
