<div class="window">
	<div class="userdisplaycontainer">
		<div id="userdisplayin">
			<%= content_tag :h1, "Make a post!" %>
			<%= content_tag :h3, "Han Solo in carbonite" %>

			<%= form_for @post, :html => {:multipart => true} do |f| %>
			<%= f.label :title %>
			<%= f.text_field :title %>
			<%= f.label :body %>
			<%= f.text_field :body %>
			<%= f.label :body %>
			<%= f.file_field :image %>
			<%= f.submit :create %>
			<% end %>
		</div>
	</div>
	<div class="planet"></div>
	<div class="locate">
		<div class="lm1 locateturn" id="lt1"></div>
	</div>
	<div class="optics">
		<div class="cm1 opticturn" id="ot1"></div>
		<div class="cm2 opticturn" id="ot2"></div>
		<div class="cm3 opticturn" id="ot3"></div>
		<div class="cm4 opticturn" id="ot4"></div>
	</div>
</div>