<!DOCTYPE html>
<html>
<head>
  <title>Bountyblog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<a href='/'><div class="logo"></div></a>
		<div class="loginout">
				<% if session[:user_id] %>
					<%= @logedin_user %>
					<!-- content_tag :h4, "Logged in" -->
					<%= link_to("Log Out", '/logout', method: :delete) %>
					<% else %>
					<%= form_tag("/login", method: "post") do %>  
				     <%=label_tag(:username, "username:") %>   
				     <%=text_field_tag(:username) %>
				     <br>
				     <%=label_tag(:password, "password:") %>   
				     <%=password_field_tag(:password) %> 
				     <br>  
				     <%=submit_tag("Submit") %> 
				     <% end %>
					<%= content_tag :h4, "Not logged in" %>
				<% end %>
				<% if flash[:notice] -%>
  				<div class = "alert alert-success"><%= flash[:notice] %></div>
				<% end %>
				<% if flash[:alert] -%>
  				<div class = "alert alert-success"><%= flash[:alert] %></div>
				<% end %>
		</div>
		<div class="hovertop"></div>
		<div class="hoverbottom"></div>
		<div class="menu_new">
			<div class="menubox">
				<a href='/posts'><div id="linkc">POSTS</div></a>
			</div>
			<div class="menubox">
				<a href='/users'><div id="linkc">HUNTERS</div></a>
			</div>
			<div class="menubox">
				<a href='/users/new'><div id="linkc">BECOME A HUNTER</div></a>
			</div>
			<div class="menubox">
				<div id="linkc"><%= link_to("NEW POST", new_post_path, method: :get) %></div>
			</div>
		</div>
		<div class="sitename">
			<h1>Justice Junction</h1>
		</div>
		<div class="content">
		<%= yield %>
		</div>
	</div>
</body>
</html>
