<!DOCTYPE html>
<html>
<head>
  <title>Bountyblog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<div class="menucontainer">
			<div class="logo"></div>
			<div id="menuin">
				<ul>
				<div class="mb1" id="clickmb1">menu item goes here</div>
				<div class="mb2" id="clickmb2">menu item goes here</div>
				<div class="mb3" id="clickmb3">menu item goes here</div>
				<div class="mb4" id="clickmb4">menu item goes here</div>
				</ul>
			</div>
		</div>
		<div class="sitename">
			title of blog goes here
		</div>
		<div class="content">
			<div class="usercontainer">
				<div class="userin">
					list of username goes here
					<br><br>
					hide the div so when users is clicked in the menu, the div appears
					<br><br>
					clicking a user name shows a list of their posts
				</div>
			</div>
			<div class="window">
				<div class="optics">
					<div class="cm1 opticturn" id="ot1"></div>
					<div class="cm2 opticturn" id="ot2"></div>
					<div class="cm3 opticturn" id="ot3"></div>
					<div class="cm4 opticturn" id="ot4"></div>
				</div>
				<div class="postcontainer">
					<div id="posttitle">
					title
					</div>
					<div id="postdetails">
					poster and date
					</div>
					<div id="postin">
						<%= yield %>
					</div>
				</div>
				<div class="commentcontainer">
					<div id="commentin">
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- <% if session[:user_id] %> -->
	<!-- <%= content_tag :h4, "Logged in" %> -->
	<!-- <% else %> -->
	<!-- <%= content_tag :h4, "Not logged in" %> -->
	<!-- <% end %> -->
	<!-- <%= link_to("Log Out", '/logout', method: :delete) %> -->
	<!-- <%= link_to("Log In", '/login', method: :create) %> -->
	<!-- <%= link_to("All Posts", '/posts', method: :get) %> -->
	<!-- <%= link_to("New Post", '/posts/new', method: :get) %> -->
	<!-- <%= flash[:notice] if flash[:notice]%> -->
	<!-- <%= flash[:alert] if flash[:alert] %> -->



</body>
</html>
