<!DOCTYPE html>
<html>
<head>
  <title>Bountyblog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<a href='/'><div class="logo"></div></a>
		<div class="loginout">
<!-- 				<form method="POST" action="/sign-in" onsubmit="showHide()">
					<input type="text" name="username" placeholder="username" required>
					<input type="password" name="password" placeholder="password" required>
					<input type="submit" value="sign in!">
				</form> -->
				    <%= form_tag("/login", method: "post") do %>  
				     <%=label_tag(:username, "username:") %>   
				     <%=text_field_tag(:username) %>
				     <br>
				     <%=label_tag(:password, "password:") %>   
				     <%=password_field_tag(:password) %> 
				     <br>  
				     <%=submit_tag("Submit") %> 
			    <% end %>
				<% if session[:user_id] %>
					<%= content_tag :h4, "Logged in" %>
					<%= link_to("Log Out", '/logout', method: :delete) %>
					<% else %>
					<%= content_tag :h4, "Not logged in" %>
					<% end %>
					<%= flash[:notice] if flash[:notice]%>
					<%= flash[:alert] if flash[:alert] %>
		</div>
		<div class="hovertop"></div>
		<div class="hoverbottom"></div>
		<div class="menu_new">
			<div class="menubox">
				<a href='/posts'><div id="linkc">posts</div></a>
			</div>
			<div class="menubox">
				<a href='/users'><div id="linkc">users</div></a>
			</div>
			<div class="menubox">
				<div id="linkc">linklink</div>
			</div>
			<div class="menubox">
				<div id="linkc">linklink</div>
			</div>
		</div>
		<div class="sitename">
			<h1>Justice Junction</h1>
		</div>
		<div class="content">
		<%= yield %>
		</div>
		<div class="lightup"></div>
	</div>
</body>
</html>
