<!DOCTYPE html>
<html>
<head>
  <title>Bountyblog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Dhurjati|Quantico:700italic,400' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="container">


		<div class="menucontainer">
			<div class="logo"></div>
			<div id="menuin">
				<ul>
				<div class="mb1" id="clickmb1">sign up</div>
				<div class="mb2" id="clickmb2">sign in</div>
				<div class="mb3" id="clickmb3">view users</div>
				<div class="mb4" id="clickmb4">view posts</div>

			<div class="menucontainer">
			<a href='/'><div class="logo"></div></a>
			<div id="menuin">
				<ul>
				<div class='mb1' id='clickmb1'>
					<a href='/users/new'>sign up</a>
				</div>
				<div class="mb2" id="clickmb2">
					<a href='/login'>sign in</a>
				</div>
				<div class="mb3" id="clickmb3">
				<a href='/users'>view users</a></div>
				<div class="mb4" id="clickmb4">
					<a href='/posts'>view posts</a>
				</div>

				</ul>
			</div>
		</div>
		<div class="sitename">

			<h1>Justice Junction</h1>
		</div>
		<div class="content">
			<div class="usercontainer">
				<div class="userup">
					pulls in code to allow user to sign up
				</div>
				<div class="userin">
					pulls in code to allow user to sign in
				</div>
				<div class="userlist">
					list of username goes here
					<br><br>
					hide the div so when users is clicked in the menu, the div appears
					<br><br>
					clicking a user name shows a list of their posts
				</div>
			</div>
			<div class="window">
				<div class="planet"></div>
				<div class="locate">
					<div class="lm1 locateturn" id="lt1"></div>
				</div>
				<div class="optics">
					<div class="cm1 opticturn" id="ot1"></div>
					<div class="cm2 opticturn" id="ot2"></div>
					<div class="cm3 opticturn" id="ot3"></div>
					<div class="cm4 opticturn" id="ot4"></div>
				</div>
				<div class="postcontainer">
					<div id="posttitle">
					title
					</div>
					<div id="postdetails">
					poster and date
					</div>
					<div id="postin">
						<%= yield %>
					</div>
				</div>
				<div class="commentcontainer">
					<div id="commentin">
					</div>
				</div>
			</div>
		</div>
		<%= yield %>


			title of blog goes here
		</div>
		<div class="content">
		<%= yield %>
		</div>

	</div>

	<!-- <% if session[:user_id] %> -->
	<!-- <%= content_tag :h4, "Logged in" %> -->
	<!-- <% else %> -->
	<!-- <%= content_tag :h4, "Not logged in" %> -->
	<!-- <% end %> -->
	<!-- <%= link_to("Log Out", '/logout', method: :delete) %> -->
	<!-- <%= link_to("Log In", '/login', method: :create) %> -->
	<!-- <%= link_to("All Posts", '/posts', method: :get) %> -->
	<!-- <%= link_to("New Post", '/posts/new', method: :get) %> -->
	<!-- <%= flash[:notice] if flash[:notice]%> -->
	<!-- <%= flash[:alert] if flash[:alert] %> -->



</body>
</html>
